<!--[if lt IE 7]> <html class="nojs ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" id="published-pop"> <![endif]-->
<!--[if IE 7]>    <html class="nojs ie lt-ie10 lt-ie9 lt-ie8 ie7" prefix="og: http://ogp.me/ns#" id="published-pop"> <![endif]-->
<!--[if IE 8]>    <html class="nojs ie lt-ie10 lt-ie9 ie8" prefix="og: http://ogp.me/ns#" id="published-pop"> <![endif]-->
<!--[if IE 9]>    <html class="nojs ie lt-ie10 ie9" prefix="og: http://ogp.me/ns#" id="published-pop"> <![endif]-->
<!--[if IE 10]>   <html class="nojs ie ie10" prefix="og: http://ogp.me/ns#" id="published-pop"> <![endif]-->
<!--[if !IE]><!-->

<html class="nojs" prefix="og: http://ogp.me/ns#" id="published-pop" xmlns=
"http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta property="og:url" content="http://tips.populr.me/submission-confirmation" />
  <meta property="og:image" content=
  "https://thumbnail.populr.me/53050ee0df9a15283c000030.png" />
  <meta property="og:title" content="The contents have been submitted!" />
  <meta name="twitter:description" content="Powered by Populr.me" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="The contents have been submitted!" />
  <meta name="twitter:image:src" content=
  "https://thumbnail.populr.me/53050ee0df9a15283c000030.png" />
  <meta name="twitter:domain" content="populr.me" />
  <meta name="viewport" content=
  "width=device-width,initial-scale=1.0,minimum-scale=1.0" />

  <title>The contents have been submitted!</title>
  <link rel="shortcut icon" href="//populr.me/favicon.ico" />
  <link href=
  "//djtagfocfldiq.cloudfront.net/assets/theme_bundle-0586ef611eaddf1994740be2474e354b.css"
  media="screen" rel="stylesheet" type="text/css" /><!--[if IE 7]>
  <link href="//djtagfocfldiq.cloudfront.net/assets/theme_bundle_ie7-900efe9194edcc91d3d4da09e1974c7a.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link rel="stylesheet" type="text/css" href=
  "//populr.me/stylesheet_renderer/4fbc1793cf5e1d1050000023//styles/main.less?headline_font=Josefin+Slab&amp;background_color=&amp;background_position=se&amp;background_style=fill&amp;palette=palette-default&amp;custom_color=&amp;background_container=%23populr-pop-wrapper-inner&amp;v=16" />

  <style type="text/css">
/*<![CDATA[*/
  @font-face {
    font-family: 'FontAwesome';
    src: url('//s3.amazonaws.com/assets.populr.me/fontawesome/font/fontawesome-webfont.eot?h=tips.populr.me');
    src: url('//s3.amazonaws.com/assets.populr.me/fontawesome/font/fontawesome-webfont.eot?h=tips.populr.me#iefix') format('embedded-opentype'), url('//s3.amazonaws.com/assets.populr.me/fontawesome/font/fontawesome-webfont.woff?h=tips.populr.me') format('woff'), url('//s3.amazonaws.com/assets.populr.me/fontawesome/font/fontawesome-webfont.ttf?h=tips.populr.me') format('truetype'), url('//s3.amazonaws.com/assets.populr.me/fontawesome/font/fontawesome-webfont.svg#fontawesomeregular?h=tips.populr.me') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /*]]>*/
  </style>
  <script type="text/javascript">
//<![CDATA[
    var _gaq;
    var pop_id = '53050ee0df9a15283c000030';
    var follow_hash = 'wzrguyzxq9muethtxrc1cdgq';
    var environment = 'production';
    var Populr = {
      ThemeEngine: {
        imageTransformer: '//d78gdoipzblqe.cloudfront.net',
        elements: {},
        registry: {scripts: [], styles: [], setups: []}
      },
      domain: '//populr.me',
      pop: {
        contents: [{"body":"<p><b>Did your page not open up in a new tab? (see below for instructions)<\/b><\/p><p>A pop-up blocker may have prevented a new tab to open within your browser. If this is the case, please follow the steps below to ensure you can access the page. <\/p><ol><li>Turn off pop-up blocker within your browser. <\/li><li>Select the following link to re-open the page in a new tab within your browser.<\/li><li>That's it. You're done!<\/li><\/ol>","body_visible":true,"id":1,"layout":{"4fbc1793cf5e1d1050000023":{"height":255,"region":0,"size":"l","sortOrder":0,"x":0,"y":0}},"title":"An editable version of your page should now be open within a new tab in your browser. &nbsp;","title_visible":true,"type":"Text"},{"body":"Add text here. You can also hide this text by clicking the gear icon in the upper-right corner of this content block and clicking &quot;Show/Hide Description&quot;.","body_visible":false,"id":0,"layout":{"4fbc1793cf5e1d1050000023":{"height":65,"region":0,"size":"l","sortOrder":1,"x":0,"y":275}},"title":"\u2060","title_visible":true,"type":"Text"}]
      },
      is_private_pop: false,
      is_preview: null,
      on_revision_navigator: false,
      suppress_analytics: true,
      background: {
        image: null,
        style: "fill",
        position: "se",
        container: "#populr-pop-wrapper-inner"
      }
    };
  //]]>
  </script>
  <script src=
  "//djtagfocfldiq.cloudfront.net/assets/published-0b62aa6619cd2839b1c1742c0a6aac7f.js"
  type="text/javascript">
</script>
  <script src=
  "//djtagfocfldiq.cloudfront.net/assets/published_init-b7109176783b8a310f1fc049f3edc753.js"
  type="text/javascript">
</script>
  <script src="//populr.me/themes/center/js/main.js?v=16" type="text/javascript">
</script>
  <script type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
    });
  //]]>
  </script>
</head>

<body class="populr-branding-level-subtle palette-default has-title">
  <div id="populr-pop-wrapper">
    <div id="populr-pop-wrapper-inner">
      <div id="pop" class="themed">
        <div id="main-content" class="clearfix">
          <div class="pop-title-wrapper">
            <div class="text-align-center">
              <h1 id="pop-title"><b></b></h1>
            </div>
          </div>

          <div id="main-region-wrapper">
            <div class="asset-container" style="position: absolute; left: 0px; top: 0px;"
            data-x="0" data-y="0">
              <div class="asset asset-type-text asset-size-l" data-region-id="0">
                <div class="asset-inner">
                  <h2 class="asset-title">Your page has been created. <a href="<%= @editor_url %>" target="_blank">Click to edit it now!</a></h2>
                  <div class="content">
                  </div>
                </div>
              </div>
            </div>

            <div class="asset-container" style=
            "position: absolute; left: 0px; top: 275px;" data-x="0" data-y="275">
              <div class="asset asset-type-text asset-size-l" data-region-id="0">
                <div class="asset-inner">
                  <h2 class="asset-title">&#8288;</h2>

                  <div class="content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>
</html>
